.list-title {
  float: left;
  margin: 50px 80px;
}

.go-to-create-page {
  float: right;
  margin: 50px 120px;
}

mat-table {
  width: 100%;
  display: table;
}

.header {
  padding-left: 16px;
  font-size: 20px;
}

tr {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

tr:hover {
  background-color: #ddd8e6;
}

button {
  margin: 5px;
}

.mat-table {
  display: table;
}

.mat-header-cell {
  padding: 20px;
}

td {
  text-align: center;
  padding: 10px;
}

th {
  text-align: center;
  padding: 30px;
}

mat-paginator {
  margin: 20px 28%;
  position: absolute;
}

th.creationDate-column {
  padding-left: 180px;
}

h2 {
  margin: 50px 40%;
}

mat-icon {
  display: contents;
}
